:root{
    --primary-color: #005A9C;
    --secondary-color: #333333;
    --background-color: #F8F9FA;
    --accent-color: #E0A800;
    --border-color: #dee2e6;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Lato', sans-serif;
}

html{
    font-size: 1rem;
}

body{
    font-family: var(--body-font);
    color: var(--secondary-color);
    background-color: var(--background-color);
    padding: 10px;
}

h1,h2,h3{
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    font-weight: 700;

}

h1{
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
}

h2{
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.25rem;
}

h3{
    font-size: 1.3rem;
}